* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo {
    height: 100vh;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    background-color: #EEE;
    display: grid;
    place-items: center;
    font-size: 50px;
}