body {
    height: 100%;
    display: grid;
    place-items: center;
    perspective: 1000px;
    margin: 0;
    padding: 0;
    background: #333333;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 320px;
    border-radius: 16px;
    background: url("../bg.jpg");
    background-size: 110%;
    background-position: center;
    transition: 0.5s;
    cursor: pointer;
}

.card button {
    padding: 10px 30px;
    margin-top: 160px;
    border-radius: 50px;
    border: 0;
    background: #333333;
    color: #f9f9f9;
}