* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Euclid Circular A";
    background:#181717 linear-gradient(45deg, #272525, #151515);
    color: rgba(255, 255, 255, 0.7);
}

img {
    position: fixed;
    z-index: 0;
    transition: 0.3s;
}

body img:nth-child(1) {
    width: 200px;
    top: 0;
}

body img:nth-child(2) {
    width: 400px;
    left: 900px;
    top: 0;
}

body img:nth-child(3) {
    width: 200px;
    bottom: 0;
}

body img:nth-child(4) {
    width: 200px;
    left: 600px;
    bottom: 0;
}

body img:nth-child(5) {
    width: 200px;
    left: 250px;
    top: 250px;
}

.home-content {
    position: relative;
    z-index: 1;
    padding: 100px 15%;
}